
body{
    background: #fffffb;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.main{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.warp{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0,auto;
    padding: 0%;
}
#header img{
    width: 200px;
    height: auto;
    margin: 0 auto;
}

p{
    display: block;
    width: 80%;
    padding-left: 10%;
    font-size: 0.9rem;
    color: #3a3833;
}

h2{
    color: #3a3833;
}
h3{
    color: #3a3833;
}
h1{
    color: #3a3833;
}

.cover{
  width:100%;
  height:150px;
  padding: 0%;
  margin: 0;
  overflow: hidden;
  filter: grayscale(90%);
}
.cover img{
    padding: 0%;
    width:100%;
    height:150px;
    object-fit:cover;
    margin: 0%;
    z-index: -30;
    opacity: 0.8;
}

.cover:hover{
    filter: grayscale(0%);
}

.cover h3{
  width:100%;
  height:120px;
  position:absolute;
  text-align:center;
  line-height: 120px;
  padding: 0%;
  margin: 0%;
  color: #ffffff;
  opacity: 1.0;
  z-index: 10;
}
.cover p{
  width:100%;
  height:150px;
  position:absolute;
  text-align:center;
  line-height: 150px;
  padding: 0%;
  color: #ffffff;
  opacity: 1.0;
  z-index: 10;
}

#footer{
    height:150px;
}

#footer p{
    padding-top: 30px;
}
a{
    color: #3a3833;
}
a:hover{
    opacity: 0.5;
}
*{
    padding : 0px;
    margin: 0, auto;
}